build \
--copt="-fopenmp-simd"

build --linkopt="-lglog -lm -lrt -lpthread -L/usr/local/lib -lfftw3"

build:opt \
--copt="-std=c++11" \
--copt="-g0" \
--copt="-DNDEBUG" \
--copt="-march=native" \
--copt="-O3" \
--copt="-ffast-math" \
--copt="-mavx2" \
--copt="-fopenmp-simd" \
--copt="-ftree-vectorize" \
--copt="-fopt-info-vec-optimized"

#--copt="-mavx" \
#--copt="-march=corei7" \
#--copt="-march=native" \
#--copt="-mtune=native" \

#--copt="-fopt-info-vec-note" \
#--copt="-fopt-info-vec-missed" \
#--copt="-fopt-info-vec-optimized" \
#--copt="-fopt-info-vec-all" \

#--copt="-fno-exceptions" \